
.btn {
  min-width: 160px;
  padding: 8px 0;
  border-radius: 24px;
  text-align: center;
  font-size: 18px;
  margin: 5px;
}

.lg .btn {
  min-width: 240px;
}

.btn.btn-primary {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(106deg, #ff003c, #d10031 107%);
  background-color: white;
  border: solid 2px #d31242;
  font-weight: bold;
  color: white;
}

.btn.btn-primary:hover {
  background-image: linear-gradient(106deg, #e40036, #b9002b 107%);
  transition: all ease 0.2s;
}

.btn.btn-primary.disabled {
  background-image: none;
  background-color: #acb3c3;
  border: solid 2px #acb3c3;
  opacity: 1;
}

.btn.btn-secondary {
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.16);
  background-image: white;
  background-color: white;
  border: solid 2px #ff003c;
  font-weight: bold;
  color: #ff003c;
}

.btn.btn-secondary:hover {
  border: solid 2px #d31242;
  color: #d31242;
  transition: all ease 0.2s;
}

.btn.btn-secondary.disabled {
  border: solid 2px #acb3c3;
  color: #acb3c3;
}

.btn.btn-link {
  box-shadow: none;
  background-image: none;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: #048bf3;
  text-decoration: none;
  margin: 0;
  padding: 0;
  min-width: none;
}

.btn.btn-link:hover {
  color: #d31242;
  transition: all ease 0.2s;
}

.btn.btn-link.disabled {
  color: #acb3c3;
}

.btn.btn-icon {
  min-width: auto;
  box-shadow: none;
  background-image: none;
  border: none;
  color: #048bf3;
  text-decoration: none;
  font-size: 25px;
}

.btn.btn-icon:hover {
  color: #d31242;
  transition: all ease 0.2s;
}

.btn.btn-icon.disabled {
  color: #acb3c3;
}
